/* ------------------- */
/* Custom properties   */
/* ------------------- */

/*imported fonts */

@font-face {
  font-family: "spartan-regular";
  src: url("./assets/fonts/Spartan-Regular.ttf") format(".ttf");
}

@font-face {
  font-family: "spartan-bold";
  src: url("./assets/fonts/Spartan-Bold.ttf") format(".ttf");
}

/* Utility classes */

:root {
  /* colours */
  --clr-white: 255 255 255;
  --clr-background: 7 7 36;
  --clr-drk-grey: 56 56 79;
  --clr-light-grey: 131 131 145;
  --clr-default: 65 158 187;
  --clr-venus: 237 162 73;
  --clr-earth: 109 46 213;
  --clr-mars: 209 76 50;
  --clr-jupiter: 216 58 52;
  --clr-saturn: 205 81 32;
  --clr-uranus: 30 193 162;
  --clr-neptune: 45 104 240;
  /*FONTS*/
  /* font-sizes */

  --fs-600: 2.5rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9rem;
  --fs-300: 0.6rem;
  --fs-200: 0.5rem;

  /* letter spacing */
  --ls-500: -0.1rem;
  --ls-300: 0.121rem;
  --ls-200: 0.046rem;

  /* line height */
  --lh-600: 3.25rem;
  --lh-500: 2.25rem;
}

@media (min-width: 47em) {
  :root {
    /* font-sizes */
    --fs-600: 3rem;
    --fs-500: 1.5rem;
    --fs-400: 0.7rem;
    --fs-300: 0.7rem;
    --fs-200: 0.5rem;
  }
}

@media (min-width: 61em) {
  :root {
    /* font-sizes */
    --fs-600: 5rem;
    --fs-500: 2.5rem;
    --fs-400: 1rem;
    --fs-300: 0.7rem;
    --fs-200: 0.7rem;

    /* line height */
    --lh-600: 6.4rem;
  }
}

/* colors */
.text-white {
  color: rgb(var(--clr-white));
}

.bg-white {
  background-color: rgb(var(--clr-white));
}

.bg-background {
  background-color: rgb(var(--clr-background));
}

.bg-dark-grey {
  background-color: rgb(var(--clr-drk-grey));
}

.bg-light-grey {
  background-color: rgb(var(--clr-light-grey));
}

.bg-default {
  background-color: rgb(var(--clr-default));
}

.bg-venus {
  background-color: rgb(var(--clr-venus));
}

.bg-earth {
  background-color: rgb(var(--clr-earth));
}

.bg-mars {
  background-color: rgb(var(--clr-mars));
}

.bg-jupiter {
  background-color: rgb(var(--clr-jupiter));
}

.bg-saturn {
  background-color: rgb(var(--clr-saturn));
}

.bg-neptune {
  background-color: rgb(var(--clr-neptune));
}

.bg-uranus {
  background-color: rgb(var(--clr-uranus));
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
a,
span {
  margin: 0;
  color: rgb(var(--clr-white));
  line-height: 1.3rem;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Class declarations */

body {
  font-family: "spartan-regular";
  font-size: var(--fs-400);
  /* background-color: #070724; */
  background-image: url("./assets/images/background-stars.svg");
  background-size: cover;
}

h1 {
  font-family: "Antonio", sans-serif;
  font-size: var(--fs-600);
  line-height: var(--lh-600);
}

h2 {
  font-family: "Antonio", sans-serif;
  font-size: var(--fs-500);
  line-height: var(--lh-500);
  letter-spacing: var(--ls-500);
}

h3 {
  font-family: "spartan-bold";
  font-size: var(--fs-300);
  letter-spacing: var(--ls-300);
}

h4 {
  font-family: "spartan-bold";
  font-size: var(--fs-200);
  letter-spacing: var(--ls-200);
}

p {
  font-size: var(--fs-400);
}

button {
  background-color: rgb(var(--clr-background));
}

button :active {
  background-color: rgb(var(--clr-default));
}

button :hover {
  background-color: rgb(var(--clr-background));
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "topbar"
    "isMobile"
    "planetCard"
    "planetData"
    "planetStats";
  /* grid-template-rows: 10vh 7vh 46vh 35vh; */
  min-height: 100vh;
}

.top-bar {
  grid-area: topbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

#hamburger {
  max-width: 100%;
  max-height: 17px;
}

.nav-link li {
}

.nav-link.active {
}

.is-mobile {
  grid-area: isMobile;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 24px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #979797;
}

.browser-nav {
  grid-area: browserNav;
  display: none;
}

.is-mobile-textbox {
  display: flex;
  justify-content: center;
  width: 21.3vw;
}

.is-mobile-overview {
  justify-content: end;
}

#planet-card {
  grid-area: planetCard;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17% 0;
}

#planet-image-wrapper {
  width: 46%;
  position: relative;
}

#planet-image {
  margin: 0 auto;
}

#planet-surface-image {
  position: absolute;
  width: 44%;
  height: auto;
  bottom: -20%;
  right: 27.6%;
}

@media (min-width: 47em) {
  #planet-image-wrapper {
    width: 37%;
  }
}

@media (min-width: 61em) {
  #planet-card {
    padding: 0;
  }
  #planet-image-wrapper {
    width: 71%;
    height: auto;
  }
  #planet-surface-image {
    width: 26%;
    bottom: -13%;
    right: 36.9%;
  }
}

.planet-data {
  grid-area: planetData;
  display: flex;
  text-align: center;
  align-items: center;
}

.planet-data-name {
  margin-bottom: 16px;
}

.planet-data-overview {
  margin: 0 24px 10% 24px;
}

.is-browser {
  grid-area: isBrowser;
  display: none;
}

.source > a {
  display: inline-flex;
  align-items: center;
}

.source img {
  width: 12px;
  height: 12px;
}

.source > a > img {
  margin-left: 2px;
}

.planet-stats {
  grid-area: planetStats;
  display: flex;
  flex-direction: column;
  margin: 28px 24px 47px;
}

.planet-stats > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 11px 24px 11px;
  border: 1px solid;
  border-color: #979797;
}

@media (min-width: 61em) {
  .container-grid {
    grid-template-columns: 32% 32% 36% !important;
    grid-template-areas:
      "topbar  browserNav browserNav"
      "planetCard planetCard  planetData"
      "planetCard planetCard  isBrowser"
      "planetStats planetStats planetStats" !important;
  }

  .top-bar {
    justify-content: start !important;
    border-bottom: 1px solid;
    border-color: #979797;
    max-height: 85px;
    padding-left: 2.5%;
  }

  .top-bar h2 {
    font-size: 1.5rem;
  }

  .browser-nav {
    align-items: center;
    max-height: 85px;
  }

  .browser-nav nav {
    width: 100%;
    margin-left: 17%;
  }

  .browser-nav ul {
    margin-right: 5%;
    gap: 6% !important;
    font-size: var(--fs-200);
  }

  #planet-card {
    margin-top: 11%;
    margin-right: 3%;
    margin-bottom: 11.6%;
  }

  .planet-data {
    margin: 11% 35% 0px 0px !important;
  }

  .is-browser {
    margin: 0px 30% 6% 0px !important;
  }

  .is-browser button {
    padding-right: 5vw !important;
  }

  .planet-stats {
    margin: 0px 11% 6% 11%;
    gap: 15px !important;
  }

  .planet-stats div {
    padding-bottom: 3.5% !important;
    justify-content: flex-start;
    height: fit-content;
  }
}

@media (min-width: 47em) {
  .container-grid {
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "topbar topbar"
      "browserNav browserNav"
      "planetCard planetCard"
      "planetData isBrowser"
      "planetStats planetStats";
  }
  .top-bar {
    justify-content: center;
  }

  #hamburger {
    display: none;
  }

  .is-mobile {
    display: none;
  }

  .browser-nav {
    display: flex !important;
    border-bottom: 1px solid;
    border-color: #979797;
    width: 100%;
  }

  .browser-nav nav {
    width: 100%;
  }

  .browser-nav ul {
    display: flex !important;
    justify-content: center;
    gap: 6.5%;
    padding: 0;
    min-width: 45%;
    flex: 1;
  }

  .browser-nav li {
    list-style: none;
  }

  .planet-data {
    text-align: start;
    margin-left: 39px;
    margin-right: 69px;
  }

  .planet-data p {
    margin: 24px 0px 32px;
  }

  .is-browser {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    margin: 50px 30px 0px;
  }

  .is-browser button {
    display: flex;
    padding: 7px 87px 7px 0px;
    margin-bottom: 16px;
    border-style: solid;
    outline-color: #979797;
    min-height: 40px;
  }

  .is-browser button span {
    margin-right: 14px;
    margin-left: 20px;
  }

  .planet-stats {
    flex-direction: row;
    gap: 11px;
  }

  .planet-stats div {
    flex-direction: column;
    align-items: start;
    flex: 1;
    min-height: 88px;
    padding: 16px 0px 19px 15px;
  }
}
